<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">
                        
    <context:property-placeholder location="app.properties" />

    <bean name="scenarioRunner"
        class="com.contoso.caseapijavademo02.BL.ScenarioRunner">
        <constructor-arg index="0" ref="blHelper" />
    </bean>

    <bean name="blHelper"
        class="com.contoso.caseapijavademo02.BL.BlHelper">
        <property name="authority" value="${authority}" />
        <property name="baseUri" value="${baseUri}" />
        <property name="clientIdForCertificate" value="${clientIdForCertificate}" />
        <property name="keyStoreCertificateAlias" value="${keyStoreCertificateAlias}" />
        <property name="keyStoreName" value="${keyStoreName}" />
        <property name="keyStorePassword" value="${keyStorePassword}" />
        <property name="resource" value="${resource}" />
    </bean>
</beans>